PORT=3002
NODE_ENV=development

DATABASE_URL=postgresql://coinpsi_user:CAMBIAR_PASSWORD@localhost:5432/coinpsi_local
DATABASE_SSL=false

JWT_SECRET=CAMBIAR_POR_UN_SECRETO_LOCAL
JWT_EXPIRES_IN=8h

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3002/api/v1/google/oauth/callback
GOOGLE_DRIVE_ROOT_FOLDER_ID=1d-DBeWnepeN0CzTnzMu4gBE1_3XcSpE1
GOOGLE_REFRESH_TOKEN=
GOOGLE_DRIVE_TOKEN_PATH=.google-drive-token.json
GOOGLE_DRIVE_CONFIG_FOLDER_NAME=COINPSI-CONFIG
GOOGLE_DRIVE_CONFIG_FILE_NAME=gallery-config.json
GALLERY_CONFIG_CACHE_TTL_MS=30000
GALLERY_TIMEZONE=America/Panama

IMAGE_CACHE_DIR=.image-cache
IMAGE_OPTIMIZATION_CONCURRENCY=4
SHARP_CONCURRENCY=2
IMAGE_MAX_INPUT_PIXELS=100000000

LANDING_ORIGIN=http://localhost:3000
ADMIN_ORIGIN=http://localhost:3001
