NODE_ENV=production

DATABASE_URL=postgresql://usuario:password@host:puerto/defaultdb
DATABASE_SSL=true

JWT_SECRET=CAMBIAR_POR_UN_SECRETO_SEGURO
JWT_EXPIRES_IN=8h

GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_DRIVE_ROOT_FOLDER_ID=

LANDING_ORIGIN=https://coinpsi.mendotech.lat
ADMIN_ORIGIN=https://coinpsi-admin.mendotech.lat
