PORT=3002
NODE_ENV=development

DATABASE_URL=postgresql://coinpsi_user:CAMBIAR_PASSWORD@localhost:5432/coinpsi_local
DATABASE_SSL=false

JWT_SECRET=CAMBIAR_POR_UN_SECRETO_LOCAL
JWT_EXPIRES_IN=8h

GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_DRIVE_ROOT_FOLDER_ID=

LANDING_ORIGIN=http://localhost:3000
ADMIN_ORIGIN=http://localhost:3001
