PORT=3002
NODE_ENV=development

DATABASE_URL=postgres://usuario:password@host:puerto/defaultdb
DATABASE_SSL=true

JWT_SECRET=
JWT_EXPIRES_IN=8h

GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_DRIVE_ROOT_FOLDER_ID=

LANDING_ORIGIN=http://localhost:3000
ADMIN_ORIGIN=http://localhost:3001
